<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ site.title }} | {{ page.title }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/style.css' | relative_url }}"
        />
    </head>
    <body>
        <header class="container site-header">
            <a class="header-brand" href="{{ '/' | relative_url }}">
                <img
                    class="header-logo"
                    src="{{ '/assets/logo.svg' | relative_url }}"
                    alt="Logo"
                />
                <span class="header-text">QKRT</span>
            </a>
            <nav>
                <a href="{{ '/' | relative_url }}">Home</a>
                <a href="{{ '/onboarding/getting-started' | relative_url }}"
                    >Onboarding</a
                >
                <a href="{{ '/documentation' | relative_url }}"
                    >Documentation</a
                >
                <a href="{{ '/about' | relative_url }}">About</a>
            </nav>
        </header>
        <div class="page-wrapper">
            <aside class="sidebar">
                <nav>
                    <a href="{{ '/onboarding/getting-started' | relative_url }}"
                        >Getting Started</a
                    >
                    <a href="{{ '/onboarding/setup' | relative_url }}">Setup</a>
                    <a href="{{ '/onboarding/tank-drive' | relative_url }}"
                        >Tank Drive</a
                    >
                </nav>
            </aside>
            <main class="content">{{ content }}</main>
        </div>
    </body>
</html>
